### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
import pandas as pd
import numpy as np

file_to_load = "Resources/purchase_data.csv"
game_df = pd.read_csv(file_to_load)

In [2]:
game_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
player_count = len(game_df["SN"].unique())
print(f"Total_Number_of_Players: {player_count}")

Total_Number_of_Players: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
gen_df = game_df.drop_duplicates(subset="SN",keep="first")
n_u_i = len((game_df["Item ID"]).unique())
avg_p = (game_df["Price"]).mean()
n_o_p = (game_df["Purchase ID"]).count()
t_r = (game_df["Price"]).sum()

p_table = pd.DataFrame({"Number_of_Unique_Items":[n_u_i],
                           "Average_Price":[avg_p], 
                           "Number_of_Purchases": [n_o_p], 
                           "Total_Revenue": [t_r]})

p_table.style.format({'Average_Price':"${:,.2f}",
                         'Total_Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
g_stats = game_df.groupby("Gender")
t_c_g = g_stats.nunique()["SN"]
t_p = len(gen_df["Gender"])
p_p = t_c_g / t_p * 100

g_d = pd.DataFrame({"Total_Count": t_c_g, "Percentage_of_Players": p_p})
g_d.index.name = None
g_d.sort_values(["Total_Count"], ascending = False).style.format({"Percentage_of_Players":"{:.2f}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
p_c = g_stats["Purchase ID"].count()
a_price = g_stats["Price"].mean()
a_total = g_stats["Price"].sum()
p_avg = a_total/t_c_g
# Create data frame with obtained values 
g_t = pd.DataFrame({"Purchase_Count": p_c, 
                                    "Average_Purchase_Price": a_price,
                                    "Average_Purchase_Value":a_total,
                                    "Avg_Purchase_Total per_Person": p_avg})

g_t.index.name = "Gender"

g_t.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average_Purchase_Price":"${:,.2f}",
                                  "Avg_Purchase_Total_per_Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
a_b = [0, 9, 14, 19, 24, 29, 34, 39, 50]
g_n = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

game_df["Age Groups"] = pd.cut(game_df["Age"],a_b, labels=g_n)
age_g = game_df.groupby("Age Groups")
t_c_a = age_g["SN"].nunique()
p_age = (t_c_a/t_p) * 100

age_t = pd.DataFrame({"Total_Count": t_c_a, "Percentage_of_Players": p_age})
age_t.index.name = None
age_t.style.format({"Percentage_of_Players":"{:,.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
p_c_a = age_g["Purchase ID"].count()
a_p = age_g["Price"].mean() 
t_p_v = age_g["Price"].sum() 
a_p_p_a = t_p_v/t_c_a
age_as = pd.DataFrame({"Purchase_Count": p_c_a,
                                 "Average_Purchase_Price": a_p,
                                 "Total_Purchase_Value":t_p_v,
                                 "Average_Purchase_Total_per_Person": a_p_p_a})
age_as.index.name = None

age_as.style.format({"Average_Purchase_Price":"${:,.2f}",
                               "Total_Purchase_Value":"${:,.2f}",
                               "Average_Purchase_Total_per_Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
s_s = game_df.groupby("SN")
p_c_s = s_s["Purchase ID"].count()
a_p_s = s_s["Price"].mean()
p_t_s= s_s["Price"].sum()

top_s = pd.DataFrame({"Purchase_Count": p_c_s,
                             "Average_Purchase_Price": a_p_s,
                             "Total_Purchase_Value":p_t_s})

s_format = top_s.sort_values(["Total_Purchase_Value"], ascending=False).head()

s_format.style.format({"Average_Purchase_Total":"${:,.2f}",
                                 "Average_Purchase_Price":"${:,.2f}", 
                                 "Total_Purchase_Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
item = game_df[["Item ID", "Item Name", "Price"]]
i_stats = item.groupby(["Item ID", "Item Name"])
p_count = i_stats["Price"].count()
p_value = i_stats["Price"].sum()
i_price = p_value/p_count

p_df = pd.DataFrame({"Purchase_Count" : p_count,
                          "Item_Price" : i_price,
                          "Total_Purchase_Value" : p_value})

p_f = p_df.sort_values(["Purchase_Count"], ascending=False).head()

p_f.style.format({"Item_Price":"${:,.2f}",
                                "Total_Purchase_Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [11]:
p_f = p_df.sort_values(["Total_Purchase_Value"],
                                                   ascending=False).head()

p_f.style.format({"Item_Price":"${:,.2f}",
                                "Total_Purchase_Value":"${:,.2f}"})

In [12]:
 # A written description of three observable trends based on the data.
    
    #Trend1: Most players are between the ages of 20-24 with a total of 44.79%.
    #Trend2: Most players are male with a total of 84.03%.
    #Trend3: The most popular item sold is "Oathbreaker, Last Hope of the Breaking Storm" with a total of 12 purchases.

In [ ]:
# Submit a link to your Jupyter Notebook with the viewable Data Frames.